.venv
.cache
.pytest_cache
.coverage
htmlcov
coverage.xml
*.log
*.log.*
.parquet
data/
.archive
.json
.coverage
.png
.csv 

# Ajout des règles Git importantes
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/
htmlcov/
.coverage
*.log
.DS_Store
.vscode/
.idea/
*.tmp
*.temp

venv/
env/
.cursor/settings.json
cursorrules
.cursor/

README.mdREADME.md
